<dic class="container">
	<img {{bind-attr src=this.profilePic}} /><br />
	Theme Pic: {{themePic}} <br />
	Member Since: {{memberSince}} <br />
	First Name: {{firstName}} <br />
	Last Name: {{lastName}}
</div>